public/LM/6/Ejercicio 3/licencia.dtd

<!ELEMENT licencia (cabezera, cuerpo, pie)>
<!ELEMENT cabezera (titulo, subititulo)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT subititulo (#PCDATA)>
<!ELEMENT cuerpo (descripcion, numero, clase, caduca, dni, nombre)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT clase (#PCDATA)>
<!ELEMENT caduca (#PCDATA)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT pie (#PCDATA)>
